
# Ignore node_modules directory
node_modules/

# Ignore build artifacts
/build/
/dist/
/out/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore package-lock.json for projects using npm
package-lock.json

# Ignore yarn.lock for projects using Yarn
yarn.lock

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Visual Studio Code project files
.vscode/
